#App QMainWindow
{
    background-color: rgb(240, 240, 240);
}
#menuBar
{
    background-color: rgb(240, 240, 240);
}

#menuBar QMenu
{
    border: none;
}
#menuBar QMenu::item:hover
{
    background-color:: #409CE1;
}
#menuBar QMenu::item:selected
{
    background-color:: #409CE1;
}

#dockWidget_data,
#dockWidget_setting,
#dockWidget_status
{
    border: 1px solid rgb(180, 180, 180);
}
